<div class="w-full p-0 m-0 " style="color: #1e1f22">

<div  *ngIf="isLoading"  class="flex-design loading-spinner">
  <div class="text-center">
    <p-progressSpinner
      animationDuration="1s"
      fill="var(--surface-ground)"
      strokeWidth="3"
      styleClass=" h-4rem"/>

    <div class="flex-design mt-2 ">
      <h3 class="mx-2">Welcome <span class="text-blue-500"> To </span> <span class="text-yellow-500">Geo</span>Scape</h3>
      <img alt="GeoSCAPE Logo" class="block {{spinLogo ? 'pi-spin':'' }}" height="40" loading="lazy"
           src="assets/images/logo-2.png"
           width="60">
    </div>
  </div>
</div>
    @if (!isLoading) {
      <app-header></app-header>

      <div class="w-12 m-auto content px-3 md:px-5">
        <router-outlet></router-outlet>
      </div>


      <app-scroll></app-scroll>
      <app-footer></app-footer>
    }
</div>
