:host ::ng-deep {
  .p-card .p-card-body {
    padding-bottom: .5rem
  }
}

img {
  border-radius: 5px;
}


@media screen and (max-width: 770px) {
  :host ::ng-deep {
    .p-tabview .p-tabview-nav {
      display: block;
    }
  }
}
