<div class="bg-image flex-design zoomin animation-duration-1000 animation-iteration-1"
     style='background-image: url("assets/images/contact-page/ContactHero.webp")'>
  <div><h1 class="text-white">Contact Us</h1></div>
</div>
<div class="grid w-full mx-auto address-card px-2 sm:px-0 mt-0 zoomin animation-duration-1000 animation-iteration-1">
  <div class="col-12 sm:col-6">
    <div class="mt-5 "><h2>Address</h2></div>
    <div class="mt-3">
      <span class="fa-xl font-bold">Saudi Arabia Office</span>
      <div class="line my-3 w-9"></div>
      <span class="block "><i class="pi pi-map-marker greenColor mr-2"></i><a
        href="https://maps.app.goo.gl/tAMe31CRJtVjrR717" target="_blank">King Fahd Rd, Al Olaya, Riyadh 8530</a></span>
      <span class="block my-2"><i class="pi pi-inbox greenColor mr-2"></i><a href="mailto:info@geoscape.net" target="_blank">info&#64;geoscape.net</a></span>
      <span class="block"><i class="pi pi-phone greenColor mr-2"> </i><a href="https://wa.me/966546644283"
                                                                         target="_blank">+966 54 664 4283</a></span>
    </div>

    <div class="mt-5">
      <span class="fa-xl font-bold">Egypt Office</span>
      <div class="line my-3 w-9"></div>
      <span class="block"><i class="pi pi-map-marker greenColor mr-2"></i><a
        href="https://maps.app.goo.gl/msYv7W3w49qJtfwk7?g_st=iwb"
        target="_blank">Islam Ra’fat St, New Cairo, First Settlement, Cairo</a></span>
      <span class="block my-2"><i class="pi pi-inbox greenColor mr-2"></i><a href="mailto:info@geoscape.net" target="_blank">info&#64;geoscape.net</a></span>
      <span class="block"><i class="pi pi-phone greenColor mr-2"></i><a
        href="https://wa.me/201200000662" target="_blank">+20 01200000662 </a></span>
    </div>
  </div>

  <div class="col-12 sm:col-6 mt-2">
    <form class="text-center" [formGroup]="getTouchForm" (ngSubmit)="submitForm()">
      <div class=" get-in-Touch">
        <div class="mt-5 "><h2>Get In Touch</h2></div>
        <div class="w-11 md:w-8 lg:w-7 m-auto"><input formControlName="name" class="w-full" pInputText
                                                      placeholder="Name *" type="text"/>

          <div [style.opacity]=" (!getTouchForm.get('name')?.hasError('required') ||
        !getTouchForm.get('name')?.touched)? 0 : 1"
               class="error-msg">please add your name *
          </div>
        </div>
        <div class="w-11 md:w-8 lg:w-7  m-auto"><input formControlName="email" class="w-full" pInputText
                                                       placeholder="example@gmail.com *" type="email"/>
          <div [style.opacity]=" (!getTouchForm.get('email')?.hasError('required') ||
        !getTouchForm.get('email')?.touched)? 0 : 1"
               class="error-msg">please add your email *
          </div>
        </div>
        <div class="w-11 md:w-8 lg:w-7  m-auto"><input formControlName="phone" class="w-full" pInputText
                                                       placeholder="Phone no *" type="text"/>
          <div [style.opacity]=" (!getTouchForm.get('phone')?.hasError('required') ||
        !getTouchForm.get('phone')?.touched)? 0 : 1"
               class="error-msg">please add your phone *
          </div>
        </div>
      </div>
      <div class="w-11 md:w-8 lg:w-7  m-auto">
        <p-multiSelect
          formControlName="selectedServices"
          [options]="geoscapeServices"
          optionLabel="name"
          placeholder="Select Services">
          <ng-template let-value pTemplate="selectedItems">
            <div *ngFor="let service of value" class="inline-flex align-items-center gap-2 px-1">
              <div>{{ service.name }},</div>
            </div>
            <div *ngIf="!value || value.length === 0">Select Services</div>
          </ng-template>
          <ng-template let-service pTemplate="item">
            <div class="flex align-items-center gap-2">
              <img [alt]="service.alt"
                   [class]="'image-radius flag flag-' + service.name.toLowerCase() "
                   [src]="'assets/images/services/'+ service.image"
                   loading="lazy"
                   style="width: 50px"/>
              <div>{{ service.name }}</div>
            </div>
          </ng-template>
        </p-multiSelect>
      </div>
      <div><textarea
        class="w-11 md:w-8 lg:w-7 mt-2 m-auto"
        cols="30"
        pInputTextarea
        formControlName="message"
        placeholder="Message"
        rows="5">
    </textarea></div>
      <div>
        <button type="submit" [disabled]="(!getTouchForm.valid || this.isLoading)"
                class=" w-11 md:w-8 lg:w-7 mt-1 "
                label="Submit" pButton
                pRipple></button>
      </div>

      @if (showMessage) {
        <div class="w-11 md:w-8 lg:w-7  m-auto successMessage m-auto">
          <p-messages [(value)]="successMessage" [enableService]="false"/>
        </div>
        <div class="w-11 md:w-8 lg:w-7  m-auto errorMessage m-auto">
          <p-messages [(value)]="errorMessage" [enableService]="false"/>
        </div>
      }
    </form>
  </div>

</div>
