.bg-image-contact{
  background-size:cover;
  background-repeat:no-repeat;
  background-position:50% 50%;
  background-color:transparent;
  margin:0;
  padding:0;
  height:400px;
}
.address-card{

  a{
    text-decoration: none;
    color:black;
  }
  .line{
    background-color: #86BB46;
    height: 3px;
  }
}
:host ::ng-deep  .p-dropdown{
  width:100%
}
