/* You can add global styles to this file, and also import other style files */
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Open Sans", sans-serif;
  color: #0c0c0c;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  overflow-y: auto;
  overflow-x: hidden;
}

.greenColor {
  color: #86BB46;
}

.green-Bg-Color {
  background: #86BB46;
  border: none;
}

body::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.29); /* color of the scroll thumb */
}

.zoom-img {
  text-align: center;
  position: relative;
  border-radius: 10px;
  overflow: hidden;

  img {
    width: 100%;
    border-radius: 10px;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }

  &:hover img {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
  }
}

@media screen and (max-width: 700px) {

  .bg-image {
    height: 200px !important;

  }
}

.p-fieldset .p-fieldset-content {
  padding: 1px !important;
}

.p-galleria-thumbnail-wrapper {
  border-radius: 0 0 10px 10px;
}


.flex-design {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-fieldset {
  background-color: #EEECEC54 !important;

  .p-fieldset-legend {
    padding: 8px;
    background-color: white;
    border: 2px solid #B9C8FC;
  }
}


.p-tabview .p-tabview-nav {
  background-color: #EEECEC54 !important;
  border: none;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.p-tabview-nav-content {
  background-color: white !important;

}

.p-tabview .p-tabview-nav li {
  background-color: white;

  .p-tabview-nav-link {
    background-color: #EEECEC54 !important;
    border: none;

  }
}

.p-tabview-panel {
  background-color: #EEECEC54 !important;

}

.card {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  background-color: white;

  &:hover {
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
  }

  img {
    border-radius: 5px 5px 0 0;
  }
}


.services-card {
  img {
    border-radius: 5px 5px 0 0;
  }

}

.p-card {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;

  &:hover {
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);

  }
}

.p-card .p-card-title {
  font-size: 1rem

}

.p-card .p-card-content {
  padding: 0;

}

.p-card .p-card-footer {
  padding: 0;

}

.p-card .p-card-body {
  padding: 1rem;
}

.primary-card {
  background-color: #EEECEC54;
  border: 1px solid #e5e7eb;
  border-radius: 6px;
}

/* Start carsoul Style*/
.p-carousel {
  .p-carousel-item {
    padding: 10px;
  }

  .p-carousel-indicators {
    padding: 20px 0;
    margin-top: 30px;

    .p-carousel-indicator button {
      background-color: #d1d5db;
      width: 14px !important;
      height: 14px !important;
      -webkit-transition: background-color 0.2s, color 0.2s, -webkit-box-shadow 0.2s;
      -o-transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
      transition: background-color 0.2s, color 0.2s, box-shadow 0.2s, -webkit-box-shadow 0.2s;
      border-radius: 50% !important;
    }

    .p-carousel-indicator.p-highlight button {
      background-color: #3B82F6 !important;
    }

    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    -ms-flex-line-pack: end !important;
    align-content: end !important;
  }

  .p-carousel-content {
    .p-carousel-prev, .p-carousel-next {
      background-color: #d1d5db;
      color: #3B82F6 !important;
      border-radius: 50%;
    }

  }
}

.p-image {
  width: 100%
}
