/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Open Sans", sans-serif;
  color: #0c0c0c;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  overflow: auto;
}
.greenColor {
  color: #86BB46;
}
.green-Bg-Color {
  background: #86BB46;
}

body::-webkit-scrollbar {
  width: 8px;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.29);    /* color of the scroll thumb */
}

.zoom-img {
  text-align: center;
  position: relative;
  border-radius: 10px;
  overflow: hidden;

  img {
    width: 100%;
    border-radius: 10px;
    transition: all 1s;
  }

  &:hover img {
    transform: scale(1.3);
  }
}
