/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.bg-image {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: transparent;
  margin: 0;
  padding: 0;
  height: 350px;
  border-radius: 0 0 6px 6px;
}

.appear-in-mobile {
  display: none;
}

@media screen and (max-width: 770px) {
  :host ::ng-deep {
    .p-listbox-list {
      max-height: 300px;
    }
  }
  .disappear-in-mobile {
    display: none;
  }
  .appear-in-mobile {
    display: unset;
  }
  .carousel-product {
    img {
      width: 80%
    }
  }
}

.carousel-product {
  img {
    height: 250px
  }
}

:host ::ng-deep {
  .p-image-toolbar {
    position: absolute;
    top: 150px;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

}


:host ::ng-deep {
  @media screen and (max-width: 990px) and (min-width: 570px) {
    .trees .p-card .p-card-body {
      min-height: 300px
    }


  }
}

:host ::ng-deep {
  .p-tabview .p-tabview-panels {
    padding: 0;
  }

  .p-tabview .p-tabview-nav li .p-tabview-nav-link {
    padding: 5px 5px;
  }

}

@media screen and (max-width: 770px) {
  :host ::ng-deep {
    .p-tabview .p-tabview-nav {
      display: block;
    }
  }
}
