<div class="bg-image flex-design
 zoomin animation-duration-1000 animation-iteration-1"
     style='background-image: url("assets/images/products-page/our-products.webp")'>
</div>
<div class="my-5 zoomin animation-duration-1000 animation-iteration-1">
  <p-fieldset>
    <ng-template pTemplate="header">
      <div class="flex align-items-center gap-1 px-2">
        <span class="font-bold">GEOSCAPE Products</span>
        <p-avatar
          [image]="'assets/images/logo-2.png'"
          shape="circle"/>

      </div>
    </ng-template>
    <div class="mt-2">
      <div class="flex mb-2 gap-2 justify-content-end">
        <p-button
          (onClick)="activeIndex = 0"
          [outlined]="activeIndex !== 0"
          label="1"
          rounded="true"
          styleClass="w-2rem h-2rem p-0"/>
        <p-button
          (onClick)="activeIndex = 1"
          [outlined]="activeIndex !== 1"
          label="2"
          rounded="true"
          styleClass="w-2rem h-2rem p-0"/>
        <p-button
          (onClick)="activeIndex = 2"
          [outlined]="activeIndex !== 2"
          label="3"
          rounded="true"
          styleClass="w-2rem h-2rem p-0"/>
        <p-button
          (onClick)="activeIndex = 3"
          [outlined]="activeIndex !== 3"
          label="4"
          rounded="true"
          styleClass="w-2rem h-2rem p-0"/>
      </div>
      <p-tabView [(activeIndex)]="activeIndex">
        <p-tabPanel>
          <ng-template pTemplate="header">
            <div class="flex align-items-center gap-0">
              <span class="font-bold white-space-nowrap m-0">
                   Plants
                </span>
              <img alt="GeoScape Plants" height="40" src="assets/images/products-page/plant.webp" width="40">
            </div>
          </ng-template>
          <p class="m-0 my-4">
            At GeoScape Co, we offer a diverse selection of plants suitable for various landscaping
            and urban beautification projects. Our nursery includes .</p>
          <div class="grid w-full mx-auto ">
            @for (plant of geoscapePlants; track plant) {
              <div class="sm:col-6 md:col-4 lg:col-4 xl:col-3 m-auto mb-3">
                <div class="services-card flex justify-content-center">
                  <p-card header="{{ plant.name }}">
                    <ng-template pTemplate="header">
                      <img [alt]="plant.alt"  class="" height="250" width="80%"
                           [src]="'assets/images/products-page/plants/'+ plant.imageSrc"/>
                    </ng-template>
                    <p class="m-0" style="min-height: 80px;">
                      {{ plant.description }}
                    </p>
                  </p-card>
                </div>
              </div>
            }
          </div>
        </p-tabPanel>
        <p-tabPanel>
          <ng-template pTemplate="header">
            <div class="flex align-items-center gap-1">
              <span class="font-bold white-space-nowrap m-0">
                 Trees
                </span>
              <img alt="GeoScape Trees" height="40"  src="assets/images/products-page/tree.webp" width="40">
            </div>
          </ng-template>
          <p class="m-0 my-4">
            At GeoScape Co, we offer a diverse selection of trees suitable for various landscaping
            and urban beautification projects. Our nursery includes.</p>
          <div class="grid w-full mx-auto  trees">
            @for (tree of geoscapeTrees; track tree) {
              <div class="sm:col-6 md:col-4 lg:col-4 xl:col-3 m-auto mb-3">
                <div class="services-card flex justify-content-center">
                  <p-card header="{{ tree.name }}">
                    <ng-template pTemplate="header">
                      <img [alt]="tree.alt"  width="100%" height="250" [src]="'assets/images/products-page/'+
                      tree.imageSrc"/>
                    </ng-template>

                    <p class="m-0">
                      <span class="font-bold"> Category : </span> {{ tree.category }}  <i class="fa-solid fa-tree greenColor"></i>
                    </p>
                    <p class="m-0" style="min-height: 100px; font-size:14px;">
                      {{ tree.description }}
                    </p>
                  </p-card>
                </div>
              </div>
            }
          </div>
        </p-tabPanel>


        <p-tabPanel>
          <ng-template pTemplate="header">
            <div class="flex align-items-center gap-0">
              <span class="font-bold white-space-nowrap m-0">
                 BENITO Urban
                </span>
              <img alt="BENITO bench and lamp" height="40"  src="assets/images/products-page/park_bench_and_lamp.webp"
                   width="40">
            </div>
          </ng-template>
          <p class="m-0 mt-4">We are excited to introduce our esteemed partner, BENITO Urban. BENITO Urban is a renowned
            leader in urban furniture, playgrounds and outdoor fitness solutions. Their commitment to
            innovation, quality, and sustainability aligns perfectly with our values and mission.</p>
          <div class="grid w-full mx-auto">


            <div class="col-12 md:col-4 appear-in-mobile ">
              <div class="lg:w-10 w-12 m-auto ">
                <h3>Benito Products</h3>
                <p-listbox
                  (onChange)="onChangeProduct($event)"
                  [filter]="true"
                  [listStyle]="{'max-height': '400px'}"
                  [options]="benitoProducts"
                  [style]="{ width: '100%' }"
                  optionLabel="name"
                >
                  <ng-template let-product pTemplate="item">
                    <div class="flex align-items-center gap-2">
                      <div>{{ product.name }}</div>
                    </div>
                  </ng-template>
                </p-listbox>
              </div>
            </div>


            <div class="md:col-7 mt-3 md:mt-7  flex justify-content-center">
              <div *ngIf="showSelectedProduct" class="w-12 flex-design  loading-spinner">
                <div class="flex-column justify-content-center align-items-center">
                  <div class="flex-design mt-4 zoomin animation-duration-1000 animation-iteration-1 ">
                    <h4 class="mx-2">Please Select <span class="text-blue-500"> a Product </span>
                    </h4>
                  </div>
                </div>
              </div>

              <div *ngIf="!showSelectedProduct" class="w-12 m-auto zoomin animation-duration-500 animation-iteration-1 carousel-product">
                <div class="card mb-4">
                  <p-carousel
                    [circular]="selectedBenitoProduct?.subImages?.length > 1"
                    [numScroll]="1"
                    [numVisible]="1"
                    [responsiveOptions]="carouselResponsiveOptions"
                    [showIndicators]="true"
                    [showNavigators]="false"
                    [value]="selectedBenitoProduct.subImages">
                    <ng-template let-item pTemplate="item">
                      <div class="relative mx-auto">
                        <img [alt]="item.alt" [src]="'assets/images/products-page/benito-products/'+item?.imageSrc" class="m-auto"
                             style="display:block;"/>
                      </div>
                    </ng-template>
                  </p-carousel>
                  <div class="p-5"><p>{{ selectedBenitoProduct?.description }}</p></div>

                </div>
              </div>
            </div>


            <div class="md:col-5 disappear-in-mobile ">
              <div class="lg:w-10 w-12 m-auto ">
                <h3>Benito Products</h3>
                <p-listbox
                  (onChange)="onChangeProduct($event)"
                  [filter]="true"
                  [listStyle]="{'max-height': '350px'}"
                  [options]="benitoProducts"
                  [style]="{ width: '100%' }"
                  optionLabel="name">
                  <ng-template let-service pTemplate="item">
                    <div class="flex align-items-center gap-2">
                      <div>{{ service.name }}</div>
                    </div>
                  </ng-template>
                </p-listbox>
              </div>
            </div>


          </div>
        </p-tabPanel>


        <p-tabPanel>
          <ng-template pTemplate="header">
            <div class="flex align-items-center gap-0">
              <span class="font-bold white-space-nowrap mx-1">
                 Prasada
                </span>
              <img alt="Prasada Logo" height="40"  ngSrc="assets/images/products-page/prasada.webp"
                   width="120">
            </div>
          </ng-template>
          <p class="m-0 mt-4">Prasada Greenhouse Products
            Explore a comprehensive range of cutting-edge greenhouse solutions
            designed to enhance your growing operations.</p>
          <app-prasada-products></app-prasada-products>
        </p-tabPanel>


      </p-tabView>
    </div>

  </p-fieldset>
</div>




