/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.services-overlay {
  background-color: #EEECEC54;
  border: 1px solid #e5e7eb;
  border-radius: 6px;
}

p {
  margin: 0;
}


@media screen and (max-width: 770px) {
  :host ::ng-deep {
    .p-carousel-content {
      .p-carousel-prev, .p-carousel-next {
        display: none;
      }

    }
  }
}

