<div class="mt-5 services-overlay">
  <p-carousel [autoplayInterval]="5000"
              [circular]="true"
              [className]="'zoomin animation-duration-1000 animation-iteration-1'"
              [numScroll]="2" [numVisible]="3"
              [responsiveOptions]="responsiveOptions"
              [value]="geoscapeServices">

    <ng-template let-service pTemplate="item">
      <div (click)="navigateToServiceDetails(service)" class="services-card w-10 m-auto mt-5 cursor-pointer">
        <p-card header="{{ service.name }}">
          <ng-template pTemplate="header">
            <img [alt]="service.alt" [src]="'assets/images/services/'+ service.image" loading="lazy"/>
          </ng-template>
          <p class="m-0" style="min-height: 100px;">
            {{ service.description }}
          </p>
        </p-card>
      </div>
    </ng-template>
  </p-carousel>
</div>
<div class="my-5 services-grid zoomin animation-duration-1000 animation-iteration-1">
  <p-fieldset>
    <ng-template pTemplate="header">
      <div class="flex align-items-center gap-1 ">
        <span class="font-bold">GEOSCAPE Services</span>
        <p-avatar
          [image]="'assets/images/logo-2.png'"
          shape="circle"/>
      </div>
    </ng-template>
    <p class="m-0">
      At GeoScape, we provide comprehensive professional landscape services that meet
      the highest standards of quality. We select only the best products from both the Saudi
      Arabian and international markets. Our team designs your landscape area in both 2D and 3D,
      ensuring precise and detailed plans. We handle the installation and offer a variety of
      maintenance plans to suit your needs, guaranteeing all our services. </p>
    <div class="grid w-full mx-auto mt-5">
      @for (service of geoscapeServices; track service) {
        <div class="col-12 sm:col-9 md:col-6 lg:col-4 xl:col-3 m-auto mb-3 ">
          <div class="services-card flex justify-content-center">
            <p-card header="{{ service.name }}">
              <ng-template pTemplate="header">
                <p-image
                  [preview]="true"
                  [alt]="service.alt" [src]="'assets/images/services/'+ service.image"
                  height="250px"
                  loading="lazy"
                  width="100%"/>
              </ng-template>
              <p class="m-0" style="min-height: 120px;">
                {{ service.description }}
              </p>
              <ng-template pTemplate="footer">
                <div class="flex gap-3 mt-1">
                  <button pButton label="Read More" class="w-full"
                          (click)="navigateToServiceDetails(service)"></button>
                </div>
              </ng-template>
            </p-card>
          </div>
        </div>
      }


    </div>

  </p-fieldset>
</div>



