/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


.appear-in-mobile {
  display: none;
}

@media screen and (max-width: 770px) {
  :host ::ng-deep {
    .p-listbox-list {
      max-height: 300px;
    }
  }
  .disappear-in-mobile {
    display: none;
  }
  .appear-in-mobile {
    display: unset;
  }
  .carousel-product {
    img {
      width: 80%
    }
  }
}

.carousel-product {
  img {
    border-radius: 5px;
    height: 250px;
  }
}


:host ::ng-deep {
  .p-carousel-indicator button {
    background-color: #d1d5db;
    width: 14px !important;
    height: 14px !important;
    -webkit-transition: background-color 0.2s, color 0.2s, -webkit-box-shadow 0.2s;
    -o-transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s, -webkit-box-shadow 0.2s;
    border-radius: 50% !important;
  }

  .p-carousel-indicator.p-highlight button {
    background-color: #3B82F6 !important;
  }
}

