.gallery{
  border-right:2px solid  #86BB46;

}
.appear-in-mobile{
  display:none;
}
@media screen and (max-width: 770px) {
    :host ::ng-deep {
      .p-listbox-list {
        max-height: 300px;
      }
    }
    .gallery{
      border-right:unset;
    }
  .disappear-in-mobile{
    display:none;
  }
  .appear-in-mobile{
    display:unset;
  }
}

:host ::ng-deep {
  .p-image-toolbar {
    position: absolute;
    top: 150px;
    right: 0;
    display: flex;
    z-index: 10000000;
  }

  .p-image-preview {
    transition: transform .15s;
    width: 50vw;
    height: 50vh;
    margin-top:100px
  }

  .p-image-preview-container {
    width: 85%
  }

  .p-galleria .p-galleria-item-nav {
    width: 3rem;
    height: 3rem;
  }

}
